.parallax {
  background-image: url("src/assets/images/background.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0; 
}

